@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  background-color: #0a0a0a; /* fond sombre */
  color: #ffffff;           /* texte blanc */
  font-family: system-ui, sans-serif;
}
